{% extends 'base.html' %}
{% load static %}

<!-- Content -->
{% block content %}
{% if user.is_authenticated %}
    {% if user.role == 'WH' or user.is_superuser %}
<div class="container-fluid add-form-list">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <div class="header-title">
                        <h4 class="card-title">Update Product</h4>
                    </div>
                </div>
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">                      
                                <div class="form-group">
                                    <label>Product ID *</label>
                                    {{ productform.product_id }}
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>    
                            <div class="col-md-6"> 
                                <div class="form-group">
                                    <label>Product Name *</label>
                                    <input type="text" class="form-control" value="{{ product_name }}" readonly>
                                    {{ productform.product_name.as_hidden }}
                                </div>
                            </div> 
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Category *</label>
                                    {{ productform.category }}
                                </div>
                            </div>
                            {{ productform.amount_of_events }}
                            <div class="col-md-6">                                    
                                <div class="form-group">
                                    <label>Package Name *</label>
                                    {{ productform.pack_name }}
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>                            
                        <button type="submit" class="btn btn-primary mr-2">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Page end  -->
</div>
{% else %}
<div class="text-center">
    <img src="{% static 'images/error/access_denied.jpg' %}" 
         class="img-fluid" 
         alt="Access Denied" 
         style="max-width: 100%; height: auto;">
</div>
{% endif %}

{% else %}

<div class="position-relative text-center">
<img src="{% static 'images/error/login_first.jpg' %}" 
     class="img-fluid w-100 vh-100" 
     alt="Access Denied"
     style="object-fit: cover;">

<a href="{% url 'login' %}" 
   class="btn position-absolute" 
   style="bottom: 200px; right: 260px; font-size: 18px; padding: 12px 24px; background-color: #FFD000; color: #0c1559;">
   LOG IN
</a>
</div>

{% endif %}
{% endblock content %}
<!-- End Content -->